@import url(./header.css);
@import url(./banner.css);
@import url(./about.css);
@import url(./cards.css);
@import url(./footer.css);
@import url(./media.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
